[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set=utf8

[mysqld]
user            = mysql
port            = 3306
datadir         = /var/lib/mysql
skip-host-cache
skip-name-resolve
character-set-server=utf8
init_connect='SET NAMES utf8'

[mysql]
default-character-set=utf8

!includedir /etc/mysql/conf.d/
